sudo: false
language: rust
rust:
  - 1.22.0  # Oldest supported
  - stable
  - beta
  - nightly
matrix:
  include:
  - env: RUSTFMT
    rust: 1.25.0  # `stable`: Locking down for consistent behavior
    install:
    - rustup component add rustfmt-preview
    script:
    - cargo fmt -- --write-mode=diff
  - env: RUSTFLAGS="-D warnings"
    rust: 1.25.0  # `stable`: Locking down for consistent behavior
    script:
    - cargo check --tests
  allow_failures:
    - rust: nightly
  fast_finish: true

install:
- rustc -Vv
- cargo -V

script:
- cargo test --verbose

cache:
  cargo: true
